// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    border-radius: 6px;
    padding: 0 14px;
    background: var(--filter-btn-bg);
    height: 36px;
    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) .like-btn__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}
